@media (min-width: 900px)
{
  .contenido{
    width:900px;
    margin: auto;
  }
header{
  width: 100%;
  margin: 0%;
  display: flex;
    flex-flow: row nowrap;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
header h1{
margin-left: 3%;
margin-right: 30%;
/*flex-grow: 2;*/
}
nav{
  /*flex-grow: 1;*/
  display: flex;
  flex-flow: row nowrap;
}
header a{
  margin: auto;
  margin-left: 3%;
  margin-right: 3%;
  }
body {
  margin:0px;
}
.ImagenCentral{
  width:100%;
  height: auto;
  padding: 2% 0%;
}
.ImagenCentral figure img{
  width:100%;
}
.ImagenCentral figure{
  margin: auto;
  width: 85%;
}
.Secundarias{
  padding: 2% 0%;
  width:100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
}
.Secundarias figure img{
    width: 100%;
}
.Secundarias figure{
  width: 40%;
  margin: auto;
}
figcaption{
  text-align: center;
}
.Galeria{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}
.Galeria figure{
  width: 30%;
  margin: auto;
}
figure img{
  width: 100%;
}
.grupo1{
  margin-top: 2%;
  margin-bottom: 1%;
}
.grupo2{
  margin-top: 1%;
  margin-bottom: 2%;
}
footer{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
footer div{
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
  margin-bottom: 3%;
}
footer p{
  margin-top: 0px;
  margin-bottom: 0px;
}
}
@-webkit-keyframes slidein{
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
header{
  background-color: #5b7989;
animation: slidein 1s;
}
header h1{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
  header a{
    color: white;
  }
    body{
      font-family:'Dancing Script';
    background-color: #02010a;
    }
.ImagenCentral{
  background-color:#82c3a6;
}
.ImagenCentral img{
  display: block;
  box-shadow: 2px 2px 2px #02010a;
}
.Secundarias{
  background-color:#d5c75f;
  border: 1px solid black;
}
.paisaje1{
  border: 2px solid;
  box-shadow: 2px 2px 2px  #82c3a6;
}
.retrato1{
  box-shadow: 2px 2px 2px  #82c3a6;
  border: 2px solid;
}
@-webkit-keyframes rotacion{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(10deg);
  }
}
@-webkit-keyframes trasladar{
  from{
    transform: translate(0px, 0px);
  }
  to{
    transform: translate(20px, -5px);
  }
}
.paisaje1:hover{
  animation: rotacion 1s;
}
.retrato1:hover{
  animation: trasladar 1s;
}
.Galeria{
  background-color:#d5c75f;
  border: 1px solid black;
}
.Galeria img{
  box-shadow: 2px 2px 2px #02010a;
}
.blur{
  filter: blur(10px);
}
.grises{
  filter: grayscale(100%);
}
.sepia{
  filter:sepia(90%);
}
footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #C6d5c5;
}
footer a:link{
  color:black;
  text-decoration: none;
}
footer a:visited{
  color: black;
}

@media (max-width:899px) {
  .contenedor{
    width:100%;
  }
  header{
    width: 100%;
    margin: 0%;
    display: flex;
      flex-flow: column nowrap;
  }
  nav{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    margin-bottom: 2%;
  }
  header h1{
  margin: 2% auto;
  }
  header a{
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    }
  body{
    margin: 0%;
  }
  .ImagenCentral{
    width:100%;
    height: auto;
    padding: 2% 0%;
  }
  .ImagenCentral img{
    width:100%;
  }
  .ImagenCentral figure{
    margin: auto;
    width: 85%;
  }
  .Secundarias{
    padding: 2% 0%;
    width:100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
  }
  .Secundarias figure img{
      width: 100%;
  }
  .Secundarias figure{
    width: 85%;
    margin: 2% auto;
  }
  figcaption{
    text-align: center;
  }
  .paisaje1{
  }
  .retrato1{
    padding:0px;
  }
  .Galeria{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
  }
  .Galeria figure{
    width: 85%;
    margin: 2% auto;
  }
  figure img{
    width: 100%;
  }
  footer{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }
  footer div{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px auto;
    margin-bottom: 1%;
  }
  footer p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  footer h3{
    margin: 10px 0px;
  }
}
